.cont-alert {
  display: grid;
  grid-template-columns: 16% 84%;
  height: 30px;
  width:70%;
  top: 15px;
  right: 0;
  max-width: 524px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  justify-items: center;
  align-items: center;
}

.cont-notificaciones{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 90%;
  left: 50%; 
  transform: translateX(-50%);
  position: fixed;
  z-index: 10;
}

#icon{
  width: 24px;
  height: 24px;
  align-self: center;
  justify-self: start;
  margin-left: 10px;
}

.notificaciones{
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  row-gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.parrafoMensaje{
  width: 100%;
  text-align: center;
  margin-right: 8%;
  font-size: .8em;
  font-family: CustomFontBold;
}

.green{
  background-color: #87fd6ae1;
  border-left: 12px solid rgb(61, 184, 36);
}
.yellow{
  background-color: #fcf48ae1;
  border-left: 12px solid rgb(211, 194, 38);
}
.red{
  background-color: #fc8a8ae1;
  border-left: 12px solid rgb(211, 38, 38);
}

.normal{
  background-color: #fcefefe1;
  border-left: 12px solid rgb(38, 211, 211);
}


.alertContainer {
  width: 20%;
  min-width: 450px;
  position: fixed;
  top: 45px;
  right: 10px;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 15px; 
  z-index: 1000;
}

.cont-alert {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  animation: fadeIn 0.3s ease-in-out;
}

.hidden {
  animation: fadeOut 0.3s ease forwards; 
}



@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(10px); }
}


@media (min-width:730px){
  .cont-alert{
    width: 80%;
    font-size: 16px;
  }
}