/* FONT  */
@font-face {
  font-family: 'CustomFontLight';
  src: url('./assets/fonts/Nunito-Light.ttf');
  font-weight: light;
  font: normal;
}
@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/Nunito-Medium.ttf');
  font-weight: normal;
  font: normal;
}
@font-face {
  font-family: 'CustomFontBold';
  src: url('./assets/fonts/Nunito-Bold.ttf');
  font-weight: bold;
  font: normal;
}

:root {
 --primary  : #D6CCC2;
 --secondary: #D5BDAF;
 --netro    : #EDEDE9;
 --extra    : #F16124;

 --simple-font-light: 'CustomFontLight',sans-serif;
 --simple-font      : 'CustomFont',sans-serif;
 --simple-font-bold : 'CustomFontBold',sans-serif; 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--simple-font);
  background-color: var(--netro);
}
/* GENETAL STYLE COMPONENTS */

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:  100%;
  max-width: 350px;
  /* min-height: 537px; */
  height: 70%;
  height: max-content;
  border-radius: 20px;
  background-color: var(--primary);
  box-shadow: 3px 5px 10px #00000040;
}

.loading{
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.back{
  width: 100%;
  padding: 10px;
}
.btnSimple{
  background-color: transparent;
  border: none;
}

.textField{
  display:block;
  border: none;
  outline: none;
  transition: outline 0.5s ease-in-out;
}

.textField:focus{
  outline: 1px solid var(--extra);
}

.modalBg{
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.title{
  text-align: center;
}


.btn{
  width: 40%;
  height: 45px;
  border: none;
  border-radius: 15px;
  font-family: CustomFontBold;
  font-size: 16px;
  box-shadow: 3px 5px 10px 0 #00000040;
}

.btn.save{
  background-color: rgb(149, 214, 123);
}
.btn.cancel{
  background-color: rgb(214, 123, 123);
}


/* LOGIN STYLE COMPONENTS */

.logoLogin{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 25%;
  margin: 15px auto;
  
}

.logoForm{
  width: 60%;
  margin: 10px auto;
}

.formInputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30%;
  margin: 20px auto;
  padding-top: 10px;
}

.formInput{
  width: 90%;
  height: 40px;
  margin: 10px auto;
  padding: 10px 8px;
  border-radius: 15px;
  font-size: 1.2em;
}
.formInput-error{
  border: 2px solid #f8a0a0;
}

.FormBottons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 45px;
}

.btn_register{
  margin-bottom:20px ;
}

.btn-secondary{
  background-color: var(--secondary);
}

.error{
  width: 300px;
  margin: auto;
  min-height: 25px;
  padding: 4px 0;
  display: block;
  text-align: center;
  color: #bd2929;
}

/* HOME PAGE */
header{
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  background-color: var(--primary);
  margin-bottom: 10px;
}

.logoHeader{
  width: 30px;
}

.searchBar{
  width: 90%;
  height: 30px;
  margin: 10px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  padding: 0 10px;
  background-color: #D9D9D9;
}

.homeContent{
  width: 100%;
  height: 90dvh;
}

/* SIDEBAR FILTERS*/
.filters {
  width: 70%;
  transform: scaleX(0);
  transform-origin: left;
  height: 100dvh;
  position: absolute;
  z-index: 5;
  top: 53px;
  background-color: var(--secondary);
  box-shadow: 3px 1px 2px 0 #0009;
  transition: transform 0.5s ease-in-out;
  overflow-x: hidden;
  transition: transform .8s ease-in-out;
}

.filters.visible {
  transform: scaleX(1);
}

.filtersTitle{
  width: 100%;
  text-align: center;
}

.filterList{
  width: 100%;
  margin-top: 10px;
}

.filter.item{
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 0 8px;
  font-size: 1.2em;
  text-align: start;
  border-bottom: 1px solid #9c9c9c;
}
/* USER MENU */
.userMenu{
  width: 45%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  top: 55px;
  right: 10px;
  
  border-radius: 4px;
  background-color: #F3EDF7;
  box-shadow: 1px 3px 10px 0 #0009;
  transition: height .8s ease-in-out;
}
.userMenu.show{
  height: 20%;
}

.menu.title{
  font-size: 14px;
  padding: 5px 0 ;
  font-family: var(--simple-font-light);
  text-align: center;
  background-color: var(--secondary);
}

.menu.options{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/*  TASK-CARD */
.contentTasks{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskCard{
  width: 100%;
  height: 10%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2,40%) 20%;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--primary);
}

.taskCard__title{
  font-size: 1em;
}

.taskCard__status{
  width: 93px;
  padding: 3px 10px;
  text-align: center;
  font-family: var(--simple-font-bold);
  font-size: .8em;
}

.status--new{
  color: #f2f2f2;
  background-color: #545cc9;
}
.status--progress{
  background-color: #c9a054;
}
.status--done{
  background-color: rgb(105, 255, 85);
}

.Taskoptions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTask{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 30px;
  font-family: var(--simple-font-bold);
  background-color: var(--secondary);
}